In [1]:
# TO DO: create a new dataframe with 4 more rows, representing the date (dummy variables)
#        foreach value in dates, get the binary season and add a new row with the dataframe values and the binary
#        remove 'Data' column from the dataframe
#        save the new dataframe

Dummy Varibles
========

In [2]:
import pandas as pd

In [3]:
# based on the date informed, returns the correspondent season: 
# 'Outono' => [1,0,0,0], 'Inverno' => [0,1,0,0], 'Primavera' => [0,0,1,0], 'VerÃ£o' => [0,0,0,1]
# date example: 1979-10-25 => [0,0,1,0]

def which_season(date):
    # Returns a binary array, representing the dummy variable
    
    date_info = date.split('-')
    day = int(date_info[2])
    month = int(date_info[1])
    
    if is_outono(month, day):
        return [1,0,0,0]
    elif is_inverno(month, day):
        return [0,1,0,0]
    elif is_primavera(month, day):
        return [0,0,1,0]
    elif is_verao(month, day):
        return [0,0,0,1]
    
    return None

In [4]:
# auxiliar function to classify the date

def is_outono(month, day):
    if month >= 3 and month <= 6:
        if month == 3:
            return (day >= 20)
        elif month == 6:
            return (day <= 21)
        else:
            return True
    else:
        return False
    
def is_inverno(month, day):
    if month >= 6 and month <= 9:
        if month == 6:
            return (day >= 22)
        elif month == 9:
            return (day <= 21)
        else:
            return True
    else:
        return False
    
def is_primavera(month, day):
    if month >= 9 and month <= 12:
        if month == 9:
            return (day >= 22)
        elif month == 12:
            return (day <= 20)
        else:
            return True
    else:
        return False
    
def is_verao(month, day):
    if month == 12:
        return (day >= 21)
    elif month < 3:
        return True
    elif month <= 3:
        return (day <= 20)
    
    return False

In [5]:
csv_file = pd.read_csv('./unified.csv')

In [6]:
csv_file.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media
0,83836,2005-11-19,0,29.0,18.9,7.1,3.2,22.22,74.25,2.133333
1,83836,1997-05-08,0,23.8,7.1,8.8,2.4,13.40,75.25,0.866667
2,83836,2007-07-20,0,21.7,3.0,8.8,0.6,10.58,90.50,2.200000
3,83836,2002-04-11,0,30.2,14.6,9.4,2.2,20.56,76.75,1.000000
4,83836,2004-08-09,0,14.9,-2.8,8.8,2.6,6.66,76.00,2.133333

In [7]:
dates = csv_file['Data'].values

In [8]:
print(dates)

['2005-11-19' '1997-05-08' '2007-07-20' ... '1997-10-01' '1991-09-23'
 '2012-06-25']

In [9]:
new_dataframe = pd.DataFrame(
    columns=[
        'Estacao',
        'Data',
        'Precipitacao',
        'TempMaxima',
        'TempMinima',
        'Insolacao',
        'Evaporacao_Piche',
        'Temp_Comp_Media',
        'Umidade_Relativa_Media',
        'Velocidade_do_Vento_Media',
        'D1',
        'D2',
        'D3',
        'D4'
    ])

In [10]:
columns = list(csv_file.columns.values)

for col in columns:
    new_dataframe[col] = csv_file[col]

In [11]:
new_dataframe.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media,D1,D2,D3,D4
0,83836,2005-11-19,0,29.0,18.9,7.1,3.2,22.22,74.25,2.133333,NaN,NaN,NaN,NaN
1,83836,1997-05-08,0,23.8,7.1,8.8,2.4,13.40,75.25,0.866667,NaN,NaN,NaN,NaN
2,83836,2007-07-20,0,21.7,3.0,8.8,0.6,10.58,90.50,2.200000,NaN,NaN,NaN,NaN
3,83836,2002-04-11,0,30.2,14.6,9.4,2.2,20.56,76.75,1.000000,NaN,NaN,NaN,NaN
4,83836,2004-08-09,0,14.9,-2.8,8.8,2.6,6.66,76.00,2.133333,NaN,NaN,NaN,NaN

In [12]:
cont = 0

for date in dates:
    binary = which_season(date)
    
    new_dataframe.at[cont, 'D1'] = binary[0]
    new_dataframe.at[cont, 'D2'] = binary[1]
    new_dataframe.at[cont, 'D3'] = binary[2]
    new_dataframe.at[cont, 'D4'] = binary[3]
    
    cont += 1

In [13]:
new_dataframe.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media,D1,D2,D3,D4
0,83836,2005-11-19,0,29.0,18.9,7.1,3.2,22.22,74.25,2.133333,0,0,1,0
1,83836,1997-05-08,0,23.8,7.1,8.8,2.4,13.40,75.25,0.866667,1,0,0,0
2,83836,2007-07-20,0,21.7,3.0,8.8,0.6,10.58,90.50,2.200000,0,1,0,0
3,83836,2002-04-11,0,30.2,14.6,9.4,2.2,20.56,76.75,1.000000,1,0,0,0
4,83836,2004-08-09,0,14.9,-2.8,8.8,2.6,6.66,76.00,2.133333,0,1,0,0

In [14]:
new_dataframe.to_csv('./unified.csv', index=False)