In [1]:
# TO DO: create a new dataframe with 4 more rows, representing the date (dummy variables)
#        foreach value in dates, get the binary season and add a new row with the dataframe values and the binary
#        remove 'Data' column from the dataframe
#        save the new dataframe

Dummy Varibles
========

In [2]:
import pandas as pd

In [3]:
# based on the date informed, returns the correspondent season: 
# 'Outono' => [1,0,0,0], 'Inverno' => [0,1,0,0], 'Primavera' => [0,0,1,0], 'VerÃ£o' => [0,0,0,1]
# date example: 1979-10-25 => [0,0,1,0]

def which_season(date):
    # Returns a binary array, representing the dummy variable
    
    date_info = date.split('-')
    day = int(date_info[2])
    month = int(date_info[1])
    
    if is_outono(month, day):
        return [1,0,0,0]
    elif is_inverno(month, day):
        return [0,1,0,0]
    elif is_primavera(month, day):
        return [0,0,1,0]
    elif is_verao(month, day):
        return [0,0,0,1]
    
    return None

In [4]:
# auxiliar function to classify the date

def is_outono(month, day):
    if month >= 3 and month <= 6:
        if month == 3:
            return (day >= 20)
        elif month == 6:
            return (day <= 21)
        else:
            return True
    else:
        return False
    
def is_inverno(month, day):
    if month >= 6 and month <= 9:
        if month == 6:
            return (day >= 22)
        elif month == 9:
            return (day <= 21)
        else:
            return True
    else:
        return False
    
def is_primavera(month, day):
    if month >= 9 and month <= 12:
        if month == 9:
            return (day >= 22)
        elif month == 12:
            return (day <= 20)
        else:
            return True
    else:
        return False
    
def is_verao(month, day):
    if month == 12:
        return (day >= 21)
    elif month < 3:
        return True
    elif month <= 3:
        return (day <= 20)
    
    return False

In [5]:
csv_file = pd.read_csv('./unified.csv')

In [6]:
csv_file.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media
0,83249,1979-10-25,0,31.0,17.6,8.6,5.5,23.62,67.50,3.266667
1,83249,1999-08-14,0,28.7,15.9,9.6,3.6,21.92,77.25,1.466667
2,83249,1992-08-01,0,26.6,16.6,2.2,2.7,21.68,93.00,1.600000
3,83249,1993-02-20,0,34.3,19.4,10.7,5.9,26.34,78.75,2.233333
4,83249,1998-09-17,0,29.1,20.5,9.6,2.4,23.52,75.50,2.200000

In [7]:
dates = csv_file['Data'].values

In [8]:
print(dates)

['1979-10-25' '1999-08-14' '1992-08-01' ... '1980-12-18' '2009-08-18'
 '2003-03-24']

In [9]:
new_dataframe = pd.DataFrame(
    columns=[
        'Estacao',
        'Data',
        'Precipitacao',
        'TempMaxima',
        'TempMinima',
        'Insolacao',
        'Evaporacao_Piche',
        'Temp_Comp_Media',
        'Umidade_Relativa_Media',
        'Velocidade_do_Vento_Media',
        'D1',
        'D2',
        'D3',
        'D4'
    ])

In [10]:
columns = list(csv_file.columns.values)

for col in columns:
    new_dataframe[col] = csv_file[col]

In [11]:
new_dataframe.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media,D1,D2,D3,D4
0,83249,1979-10-25,0,31.0,17.6,8.6,5.5,23.62,67.50,3.266667,NaN,NaN,NaN,NaN
1,83249,1999-08-14,0,28.7,15.9,9.6,3.6,21.92,77.25,1.466667,NaN,NaN,NaN,NaN
2,83249,1992-08-01,0,26.6,16.6,2.2,2.7,21.68,93.00,1.600000,NaN,NaN,NaN,NaN
3,83249,1993-02-20,0,34.3,19.4,10.7,5.9,26.34,78.75,2.233333,NaN,NaN,NaN,NaN
4,83249,1998-09-17,0,29.1,20.5,9.6,2.4,23.52,75.50,2.200000,NaN,NaN,NaN,NaN

In [12]:
cont = 0

for date in dates:
    binary = which_season(date)
    
    new_dataframe.at[cont, 'D1'] = binary[0]
    new_dataframe.at[cont, 'D2'] = binary[1]
    new_dataframe.at[cont, 'D3'] = binary[2]
    new_dataframe.at[cont, 'D4'] = binary[3]
    
    cont += 1

In [13]:
new_dataframe.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media,D1,D2,D3,D4
0,83249,1979-10-25,0,31.0,17.6,8.6,5.5,23.62,67.50,3.266667,0,0,1,0
1,83249,1999-08-14,0,28.7,15.9,9.6,3.6,21.92,77.25,1.466667,0,1,0,0
2,83249,1992-08-01,0,26.6,16.6,2.2,2.7,21.68,93.00,1.600000,0,1,0,0
3,83249,1993-02-20,0,34.3,19.4,10.7,5.9,26.34,78.75,2.233333,0,0,0,1
4,83249,1998-09-17,0,29.1,20.5,9.6,2.4,23.52,75.50,2.200000,0,1,0,0