Dummy Varibles
========

In [1]:
import pandas as pd

In [2]:
# based on the date informed, returns the correspondent season: 
# 'Outono' => [1,0,0,0], 'Inverno' => [0,1,0,0], 'Primavera' => [0,0,1,0], 'VerÃ£o' => [0,0,0,1]
# date example: 1979-10-25 => [0,0,1,0]

def which_season(date):
    # Returns a binary array, representing the dummy variable
    
    date_info = date.split('-')
    day = int(date_info[2])
    month = int(date_info[1])
    
    if is_outono(month, day):
        return [1,0,0,0]
    elif is_inverno(month, day):
        return [0,1,0,0]
    elif is_primavera(month, day):
        return [0,0,1,0]
    elif is_verao(month, day):
        return [0,0,0,1]
    
    return None

In [3]:
# auxiliar function to classify the date

def is_outono(month, day):
    if month >= 3 and month <= 6:
        if month == 3:
            return (day >= 20)
        elif month == 6:
            return (day <= 21)
        else:
            return True
    else:
        return False
    
def is_inverno(month, day):
    if month >= 6 and month <= 9:
        if month == 6:
            return (day >= 22)
        elif month == 9:
            return (day <= 21)
        else:
            return True
    else:
        return False
    
def is_primavera(month, day):
    if month >= 9 and month <= 12:
        if month == 9:
            return (day >= 22)
        elif month == 12:
            return (day <= 20)
        else:
            return True
    else:
        return False
    
def is_verao(month, day):
    if month == 12:
        return (day >= 21)
    elif month < 3:
        return True
    elif month <= 3:
        return (day <= 20)
    
    return False

In [4]:
csv_file = pd.read_csv('./unified.csv')

In [5]:
csv_file.head()

,Estacao,Data,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media
0,83836,19/11/2005,0,0,29.0,18.9,7.1,3.2,22.22,74.25,2.133333
1,83836,08/05/1997,0,0,23.8,7.1,8.8,2.4,13.40,75.25,0.866667
2,83836,20/07/2007,0,0,21.7,3.0,8.8,0.6,10.58,90.50,2.200000
3,83836,11/04/2002,0,0,30.2,14.6,9.4,2.2,20.56,76.75,1.000000
4,83836,09/08/2004,0,0,14.9,-2.8,8.8,2.6,6.66,76.00,2.133333

In [6]:
dates = csv_file['Data'].values

In [7]:
print(dates)

['19/11/2005' '08/05/1997' '20/07/2007' ... '01/10/1997' '23/09/1991'
 '25/06/2012']

In [8]:
new_dataframe = pd.DataFrame(
    columns=[
        'Estacao',
        'Data',
        'Precipitacao',
        'TempMaxima',
        'TempMinima',
        'Insolacao',
        'Evaporacao_Piche',
        'Temp_Comp_Media',
        'Umidade_Relativa_Media',
        'Velocidade_do_Vento_Media',
        'D1',
        'D2',
        'D3',
        'D4'
    ])

In [9]:
columns = list(csv_file.columns.values)

for col in columns:
    new_dataframe[col] = csv_file[col]

In [10]:
new_dataframe.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media,D1,D2,D3,D4,Hora
0,83836,19/11/2005,0,29.0,18.9,7.1,3.2,22.22,74.25,2.133333,NaN,NaN,NaN,NaN,0
1,83836,08/05/1997,0,23.8,7.1,8.8,2.4,13.40,75.25,0.866667,NaN,NaN,NaN,NaN,0
2,83836,20/07/2007,0,21.7,3.0,8.8,0.6,10.58,90.50,2.200000,NaN,NaN,NaN,NaN,0
3,83836,11/04/2002,0,30.2,14.6,9.4,2.2,20.56,76.75,1.000000,NaN,NaN,NaN,NaN,0
4,83836,09/08/2004,0,14.9,-2.8,8.8,2.6,6.66,76.00,2.133333,NaN,NaN,NaN,NaN,0

In [11]:
cont = 0

for date in dates:
    binary = which_season(date)
    
    new_dataframe.at[cont, 'D1'] = binary[0]
    new_dataframe.at[cont, 'D2'] = binary[1]
    new_dataframe.at[cont, 'D3'] = binary[2]
    new_dataframe.at[cont, 'D4'] = binary[3]
    
    cont += 1

IndexError: list index out of range

In [ ]:
new_dataframe.head()

In [ ]:
new_dataframe.to_csv('./unified.csv', index=False)