In [1]:
import pandas as pd
from glob import glob

In [2]:
unified = pd.read_csv('./unified.csv')

In [3]:
unified.head()

,Estacao,Data,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media
0,83249,25/10/1979,0,0,31.0,17.6,8.6,5.5,23.62,67.50,3.266667
1,83249,14/08/1999,0,0,28.7,15.9,9.6,3.6,21.92,77.25,1.466667
2,83249,01/08/1992,0,0,26.6,16.6,2.2,2.7,21.68,93.00,1.600000
3,83249,20/02/1993,0,0,34.3,19.4,10.7,5.9,26.34,78.75,2.233333
4,83249,17/09/1998,0,0,29.1,20.5,9.6,2.4,23.52,75.50,2.200000

In [4]:
unified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70103 entries, 0 to 70102
Data columns (total 11 columns):
Estacao                      70103 non-null int64
Data                         70103 non-null object
Hora                         70103 non-null int64
Precipitacao                 70103 non-null int64
TempMaxima                   70103 non-null float64
TempMinima                   70103 non-null float64
Insolacao                    70103 non-null float64
Evaporacao_Piche             70103 non-null float64
Temp_Comp_Media              70103 non-null float64
Umidade_Relativa_Media       70103 non-null float64
Velocidade_do_Vento_Media    70103 non-null float64
dtypes: float64(7), int64(3), object(1)
memory usage: 5.9+ MB

In [5]:
unified['Data'] = pd.to_datetime(unified['Data'], format="%d/%m/%Y")

In [6]:
unified.drop(['Hora'], axis=1, inplace=True)

In [7]:
unified.head()

,Estacao,Data,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao_Piche,Temp_Comp_Media,Umidade_Relativa_Media,Velocidade_do_Vento_Media
0,83249,1979-10-25,0,31.0,17.6,8.6,5.5,23.62,67.50,3.266667
1,83249,1999-08-14,0,28.7,15.9,9.6,3.6,21.92,77.25,1.466667
2,83249,1992-08-01,0,26.6,16.6,2.2,2.7,21.68,93.00,1.600000
3,83249,1993-02-20,0,34.3,19.4,10.7,5.9,26.34,78.75,2.233333
4,83249,1998-09-17,0,29.1,20.5,9.6,2.4,23.52,75.50,2.200000

In [8]:
unified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70103 entries, 0 to 70102
Data columns (total 10 columns):
Estacao                      70103 non-null int64
Data                         70103 non-null datetime64[ns]
Precipitacao                 70103 non-null int64
TempMaxima                   70103 non-null float64
TempMinima                   70103 non-null float64
Insolacao                    70103 non-null float64
Evaporacao_Piche             70103 non-null float64
Temp_Comp_Media              70103 non-null float64
Umidade_Relativa_Media       70103 non-null float64
Velocidade_do_Vento_Media    70103 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(2)
memory usage: 5.3 MB

In [9]:
unified.to_csv('./unified.csv', index=False)